<h1><%= @category.title %></h1>
<table>
  <thead>
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
    <%= render @posts %>
  </tbody>
</table>

<% if current_user && current_user.admin? %>
    <%= link_to  'Все категории', admin_categories_path %>
<% end %>